<div class="container">
  <h1>POST Cool URL</h1>
  <h2>Looks like you just want POST something:</h2>
  <h2>Here it is:</h2>
    <p>You said: "<span id="user_says"><%= @user_input %></span>"</p>
  
  <h2>Here are the selction you made from radio, check and combo boxes:</h2>
  <ol>
    
    <% @user_selection.each do |t| %>

    <%= erb :_user_inputs, { :locals => { :user_input => t } } %>
    <% end %>
  </ol>
</div>
